/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:wght@400;700&display=swap');

/* Import fontawesome styles */


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* Variables */
:root {
    --body-background-color: #101010;
    --top-elements-padding: 1rem;
    --text-color: #f8f8f8;
    --header-height: 3.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.125rem;
    --img-border-radius: .5rem;
    --explore-text-color: #a98aff;
    --tagline-font-size: 1.25rem;
    --icon-size: 3rem;
    --icon-text-size: 1rem;
    --search-input-field-height: 4rem;
}


/* Common Styles for all pages */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--body-background-color);
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
}

/* header styles */

header {
    height: var(--header-height);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--top-elements-padding);
}

header .index-nav i {
    font-size: 2rem;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* main common styles */

main {
    padding: var(--top-elements-padding);
    min-height: calc(100vh - var(--header-height));
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }