/* Custom Explore Page Styles */

main {
    display: flex;
    flex-flow: column nowrap;
}

.main-menu-activity {
    flex-grow: 1;
    display: grid;
}


main .main-menu-activity ul {
    list-style-type: none;
    display: grid;
    align-content: space-evenly;
}

main .main-menu-activity a {
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: var(--text-color);
    border-radius: var(--img-border-radius);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.65) 100%);
}

main .main-menu-activity a img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    grid-column: 1/-1;
    grid-row: 1/-1;
    border-radius: var(--img-border-radius);
    z-index: -1;

}

main .main-menu-activity a h2 {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 4;
    position: relative;
    top: 35%;
}

main .main-menu-activity a:hover h2 {
    color: var(--explore-text-color);
}

/* 
main .main-menu-activity a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: hotpink;
    padding: 5rem;
}


main .main-menu-activity li {
    width: 100%;
    background-color: magenta;
} */

/* main .main-menu-activity li {
    padding: 0;
    width: 100%;
    background-image: url("../assets/img/explore/musician.jpg");
} */

.hide {
    display: none;
}

.explore-section h1 {
    text-align: center;
}

.explore-section .search-field {
    margin: 2rem 0;
}

.search-field {
    display: grid;
    grid-template-columns: 3rem 1fr;
}

.filter-space ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

.filter-space ul li {
    padding: 1rem;
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.filter-space .space-icon {
    min-width: 5rem;
    min-height: 5rem;
}

.filter-space .space-icon-name {
    font-size: .8rem;
}

.filter-space .space-icon {
    border: 1px black solid;
    padding: 1rem;
}

.filter-space ul li:hover {
    background-color: hotpink;
}

.filter-more-btn {
    margin: 2rem 0;
    text-align: center;
}

.filter-more-btn input {
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
}

.filter-more-btn input:hover {
    background-color: hotpink;
    cursor: pointer;
}

/* Suggested Spaces */
.filter-suggested-spaces ul {
    padding: 0;
    list-style-type: none;
}

.filter-suggested-spaces h2 {
    font-size: 1.3rem;
}

.filter-suggested-spaces .space-details p {
    margin: 0;
}

.filter-suggested-spaces .space-details {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.suggested-spaces-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}


/* more filters */
.filter-location-prices {
    padding: 1rem 0;
}

.filter-location-prices input {
    margin-bottom: 2rem;
}

.filter-equipment, .filter-amenities {
    padding: 1rem 0;
}

.chip {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 1rem;
    line-height: 2.5rem;
    border-radius: 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: center;
}
.selected-chip {
    background-color: black;
    color: white;
}

.chip-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, 8em);
    grid-gap: 1rem;
}