/* Explore Page Styles */


/* navs */
.desktop-nav {
    display: none;
}

/* Headings */
.page-title-explore-spaces {
    font-size: var(--h1-font-size);
    color: var(--explore-text-color);
}

.explore-spaces-tagline {
    font-size: var(--tagline-font-size);
}


main.explore-space-main {
    display: flex;
    flex-flow: column nowrap;

    gap: 1.5rem;
}


/* types of spaces */

.types-of-spaces input {
    display: none;
}

.types-of-spaces input:checked + label {
    color: var(--explore-text-color);
}

.types-of-spaces input:checked + label img {
    filter: invert(81%) sepia(40%) saturate(7316%) hue-rotate(213deg)
    brightness(100%) contrast(102%);
}

.types-of-spaces {
    overflow: auto;
    white-space: nowrap;

}

.types-of-spaces::-webkit-scrollbar {
    display: none;
}

.types-of-spaces {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    gap: 1.5rem;
}

.types-of-spaces label {
    display: inline-block;
    text-align: center;
    /* padding: 0.5rem; */
    text-decoration: none;
}

.types-of-spaces label span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

/* .types-of-spaces label span {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: .5rem;
} */

.types-of-spaces .explore-spaces-svg {
    /* font-size: var(--icon-size); */
    height: 2.5rem;
    width: 2.5rem;
}

.types-of-spaces-title {
    font-weight: 700;
    font-size: var(--tagline-font-size);
    margin-bottom: 1rem;
}

.explore-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.explore-search-field {
    display: flex;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: var(--img-border-radius);
    padding: 1rem;
    height: var(--search-input-field-height);
    margin-bottom: 1.5rem;

    position: relative;
}

.explore-search-field input {
    background-color: var(--body-background-color);
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    color: var(--text-color)
}

.explore-search-field input::-webkit-search-cancel-button {
    display: none;
}

.explore-search-field input:focus {
    outline: unset;
    border: unset;
}

.explore-search-field i {
    font-size: var(--tagline-font-size);
    color: var(--body-background-color);
    border-radius: var(--explore-filter-border-r);
    padding: 0.4rem;
    background-color: var(--text-color);
}

/* additional filter */
.additional-filters {
    padding: var(--top-elements-padding);
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    /* transition: all 2s ease-in-out; */
}

.additional-filters ul {
    padding: 0;
    list-style-type: none;
}

.additional-filters label, .additional-filters span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.additional-filters span {
    gap: 0.25rem;
}

.additional-filters img {
    width: 1.5rem;
    height: 1.5rem;

    filter: invert(100%) sepia(1%) saturate(3888%) hue-rotate(80deg)
    brightness(126%) contrast(95%);
}

/* Heading styles */

.price-range-input input, .distance-range-input input {
    width: 100%;
} 

.additional-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.ad-fi-input-wrapper>div:first-of-type {
    font-size: 1.25rem;
    font-weight: 700;
}

.ad-fi-input-wrapper>div:nth-child(2) {
    margin-top: 1rem;
}

.additional-filters input[type="checkbox"] {
    display: none;
}

.additional-filters input[type="checkbox"]+label {
    border: 1px solid var(--text-color);
    padding: .5rem;
    border-radius: var(--img-border-radius);
}

.props-wrapper ul,
.amenities-wrapper ul {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
    column-gap: .5rem;
}

.additional-filters input[type="checkbox"]:checked+label {
    color: var(--explore-text-color);
    border: 1px solid var(--explore-text-color);
}

.additional-filters input[type="checkbox"]:checked+label img {
    filter: invert(81%) sepia(40%) saturate(7316%) hue-rotate(213deg)
    brightness(100%) contrast(102%);
}

.additional-filters ul li label:hover {
    cursor: pointer;
}

#additional-filters-on {
    cursor: pointer;
}

.dot {
    position: absolute;

    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: hotpink;
    right: 0.7rem;
    top: 15%;

    z-index: 10;
}

.dot.hide {
    display: none;
}

/* TODO fix this */


.ad-fi-input-btns {
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; */
    flex-grow: 1;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
    /* padding: 1rem; */
}

.btn-wrapper {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
}


.ad-fi-input-btns input {
    padding: 1rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: var(--img-border-radius);
    background-color: var(--body-background-color);
    font-weight: 700;
    font-size: 1rem;
}

.ad-fi-input-btns input:first-of-type {
    border: var(--explore-text-color);
    background-color: var(--explore-text-color);
    color: var(--primary-black);
}

/* TYPES OF SPACES ============================== */
.types-of-spaces img {
    filter: invert(100%) sepia(1%) saturate(3888%) hue-rotate(80deg)
          brightness(126%) contrast(95%);
}

.state-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

/* Places Cards */

.places-cards-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.places-cards-wrapper h2 {
    font-size: 1.5rem;
}

.places-cards-wrapper ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
}

.places-cards-wrapper a {
    font-size: var(--tagline-font-size);
    text-decoration: none;
    color: var(--text-color);
}

.places-cards-wrapper .space-details,
.places-cards-wrapper .space-location {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-between;
}

.space-rating::before {
    content: '\2605';
    font-size: 1.5rem;
}

.places-cards-wrapper .space-location {
    font-size: 0.875rem;
    color: var(--tertiary-text-dm);
}

.places-cards-wrapper img {
    border-radius: var(--img-border-radius);
}


/* Image wrapper */

.cards {
    width: 100%;
    border-radius: var(--border-radius-base);
    color: var(--primary-white);
    display: flex;
    flex-flow: column nowrap;
}

.img-container {

    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;

    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.img-wrapper {
    width: 100%;
    min-height: 216px;
    background-size: cover;
    background-position: center;

    border-radius: var(--border-radius-base);

    flex: 1 0 100%;

    object-fit: contain;
    overflow: hidden;
    height: auto;
}

.title-rating-wrapper .space-rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cards .suggested-space {
    position: relative;
}

.cards .suggested-space .price {
    background-color: var(--white-opacity);
    position: absolute;
  
    bottom: 1rem;
    right: 1rem;
  
    color: var(--primary-black);
    padding: var(--padding-1) var(--padding-2);
    border-radius: var(--border-radius-base);
}
  
.price p {
    font-weight: var(--fw-bold);
    font-size: 1rem;
}
    
.title-rating-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.types-of-spaces label:first-of-type {
    padding-left: 0;
}

.types-of-spaces label:last-child {
    padding-right: 0;
}

/* MEDIA QUERIES ==========================*/
/* DESKTOP */
@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 25rem 2fr;
        column-gap: 1.5rem;

        /* max-width: 75% !important; */
        margin: 0 auto;
     }
    
     header {
        grid-column: 1/-1;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        background-color: var(--body-background-color);

        /* position: fixed;
        width: 100%;
        z-index: 1; */
     }

     header .logo {
        width: 2rem;
        height: 2rem;
     }

     header .index-nav {
        display: none;
     }

     header .desktop-nav {
        display: unset;

        width: auto;

     }

    .filter-wrapper-desktop {
        display: unset !important;
     }

     body > .additional-filters {
        width: 25rem;

     }
    
     form.additional-filters {
        min-height: auto;
        padding: 2rem 1rem;

        border: 1px solid #a98aff;
        border-radius: var(--border-radius-base);


        justify-content: space-between;


        width: 25rem;
        position: fixed;
     }

     .places-cards-wrapper ul {
        grid-template-columns: repeat(3, 1fr);
     }
    
     .places-cards-wrapper ul li:first-child {
        grid-column: span 2;
    }

    .explore-search-field i, .explore-search-field .dot {
        display: none;
    }

    .types-of-spaces {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    
}