/* Header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2%;
}

.site-header > .logo {
  width: 2rem;
  height: 2rem;
  display: block;
}

.mobile-nav a {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

.desktop-nav {
  display: none;
}

nav.desktop-nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav.desktop-nav button {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

nav.desktop-nav img {
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
nav.desktop-nav li {
  position: relative;
  transition: all 0.25s ease-in-out;
}

nav.desktop-nav li:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffe45a;
  transition: all 0.25s ease-in-out;
}

nav.desktop-nav li:hover::before {
  width: 100%;
}

@media screen and (min-width: 650px) {
  .desktop-nav {
    display: unset;
  }
  .mobile-nav {
    display: none;
  }
}
