/* Import fontawesome styles */
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

* {
    box-sizing: border-box;
}

body {

}

.index-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
