@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Header */
.site-header {
  display: none;
}

/* Pages */
.page {
  min-height: 100vh;
  padding: 1rem;
}

.page img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Navigation */
.page .navigation {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  margin-top: auto;
  padding: 0;
}

.navigation a {
  flex: 1 0 100%;
  margin: 0;
}

/* Titles  */
.page h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

/* Progress Bar */
progress::-webkit-progress-value {
  background-color: var(--text-input-color);
  border-radius: 100vh;
}

progress::-webkit-progress-value {
  background-color: black;
  border-radius: 100vh;
}

.progress {
  display: block;
  width: 90%;
  height: 0.75rem;
  margin: 2rem auto 1rem;
  background-color: var(--text-input-color);
  border-radius: 100vh;
  border: 2px solid var(--text-input-color);
}

* {
  color: var(--text-color);
}

.selectImage {
  grid-column: 1/-1;
  width: 100%;
}

/* .selected {
  background-color: var(--text-color);
  color: var(--body-background-color);
} */

.inner-wrapper-7 .tag-amenity-wrapper.selected {
  color: var(--accent-list-space-dm);
  border-color: var(--accent-list-space-dm);
}

.activity-btn p {
  font-weight: 400;
}
.activity-btn.selected {
  border-color: var(--accent-list-space-dm);
}

.activity-btn.selected p {
  color: var(--accent-list-space-dm);
}

.activity-btn.selected:hover h2 {
  color: var(--body-background-color);
}

.selected img {
  filter: invert(0%) sepia(90%) saturate(87%) hue-rotate(120deg)
    brightness(106%) contrast(87%);
}

.specialbuttons i {
  height: 2rem;
  width: 11rem;
  text-align: center;
  padding: 0.5rem 0.25rem;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.specialbuttons i:hover {
  background-color: var(--text-color);
  color: var(--body-background-color);
}
/* PAGE 1 LAYOUT=========================*/

.list-space-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-content: flex-start;

  min-height: 100vh;
}

.index-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.index-nav i {
  font-size: 2rem;
}

.page1style {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page1style h2,
.page1style img {
  grid-column: 1;
  grid-row: 1;
}

.page1style h2 {
  z-index: 100;
}

.main-menu-activity ul {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}
.main-menu-activity a {
  display: block;
  padding: 0.75rem;
  border: 1px solid var(--primary-white);
}

.main-menu-activity h2:hover {
  color: var(--accent-list-space-dm);
}
.main-menu-activity h2 {
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

#page1 img {
  height: 5rem;
  width: 100%;
}

.list-space-categories-buttons-wrapper {
  padding: 0;
}

#page1 .list-space-categories-buttons-wrapper button.selected {
  color: var(--accent-list-space-dm);
  border-color: var(--accent-list-space-dm);
}

#page1 .list-space-categories-buttons-wrapper button.selected img {
  filter: invert(89%) sepia(67%) saturate(619%) hue-rotate(323deg)
    brightness(106%) contrast(101%);
}
/* PAGE 2 LAYOUT========================= */

button {
  background-color: var(--body-background-color);
}

.filter-white {
  filter: invert(100%) sepia(1%) saturate(3888%) hue-rotate(80deg)
    brightness(126%) contrast(95%);
}

.list-space-categories-buttons-wrapper > * img {
  height: 4rem;
  width: 4rem;
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--body-background-color);
  /* background-color: var(--listmyspace-button-color); */
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* margin: 1rem 0; */
  text-align: center;
  font-weight: bold;
}

/* a:nth-child(1) {
  margin: 1rem 0;
} */

/* a:nth-child(2){
    margin: 0 4rem 0 0;
} */

.yellowbutton,
#selbtn,
#upbtn,
#capture-btn,
#createPropertybtn {
  background-color: var(--listmyspace-button-color);
  color: var(--body-background-color);
  border: 2px solid #000;
}

.blackbutton {
  background-color: var(--body-background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

#page2 {
  display: flex;
  flex-flow: column nowrap;
}

/* PAGE 3 LAYOUT========================================== */
#page3 .divform {
  display: grid;
  gap: 1rem;
}

#formAddress {
  display: grid;
  gap: 1.25rem;
}

#formAddress input {
  padding: 1.375rem 1rem;
}
#map h3,
#map span {
  color: var(--body-background-color);
}

input {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid var(--secondary-text-dm);
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--body-background-color);
  color: var(--text-color);
  width: 100%;
}

input::placeholder,
input::placeholder,
.textarea-description::placeholder {
  color: var(--tertiary-text-dm);
  opacity: 1;
}

.users-loc {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  justify-self: flex-end;
  width: fit-content;
  border: none;
  color: var(--accent-list-space-dm);
  text-decoration: underline;

  cursor: pointer;
}

/* PAGE 4 LAYOUT========================================== */
.list-space-wrapper .page4 {
  min-height: 100vh;
}

.inner-wrapper-4 {
  display: grid;
  gap: 1.5rem;
}
#page4 .div-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
#page4 .div-buttons img {
  width: 4rem;
  height: 4rem;
}

.div-buttons .button-photos {
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0;
}

.button-photos a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 11.25rem;

  font-size: 1.25rem;
  background-color: var(--body-background-color);
  color: var(--text-color);
  border: none;
  padding: 0;
  margin: 0;
}

#namebox,
#extlab {
  display: none;
}

.div-image {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: auto;
  margin-top: 1rem;
  cursor: pointer;
}

.div-image img {
  border: 1px solid var(--secondary-text-dm);
  padding: 0.5rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 0.75rem;

  width: 100%;
  max-width: 500px;
  max-height: 500px;
  min-height: 20rem;
  z-index: 100;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image-container :nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1/3;
}

.div-image .image-container img {
  display: block;

  width: 100%;
  border: 0;
  padding: 0;
}

.div-image .image-container .img {
  position: relative;
  transition: all 0.25s ease;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: -1;
}

.div-image .image-container .img:hover {
  transform: scale(0.97);
}

.div-image .image-container .img span {
  font-size: 0.75rem;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: black;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-image .add-image-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 6rem;
  height: 6rem;
  filter: invert(64%) sepia(1%) saturate(0%) hue-rotate(316deg) brightness(98%)
    contrast(93%);
  transition: all 0.25s ease;
  border-radius: 100vh;
  border: 5px solid var(--text-color);
}
/* PAGE 5 and 6 LAYOUT===================== */

#page5 h2 {
  margin-top: 5rem;
}

.videogrid {
  position: relative;
}

.gridcamera {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 0.5rem;
  min-height: 16.5rem;
}

.videogrid,
.imageactive {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  margin: 0;
}

#video {
  width: 100%;
}

.capture-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--accent-list-space-dm);
  border-radius: 100vh;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  height: 3.25rem;
  width: 3.25rem;
  transform: translateX(-50%);
}
#capture-btn {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100vh;
  background-color: var(--accent-list-space-dm);
  cursor: pointer;
  border: none;
}

/* #capture-btn img {
  filter: invert(0%) sepia(90%) saturate(87%) hue-rotate(120deg)
    brightness(106%) contrast(87%);
} */

.imggrid {
  position: relative;
}

.imggrid span {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #10101074;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
}

.imggrid span i {
  font-size: 1.75rem;
  padding: 0.5rem;
  color: var(--primary-white);
}

.imggrid span i:hover {
  cursor: pointer;
}

.imggrid img {
  width: 100%;
}

#divcapturebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

button#upvideobtn {
  color: var(--primary-black);
  background-color: var(--accent-list-space-dm);
}

#selbtn,
#upbtn,
#upvideobtn {
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

#selbtn:hover,
#upbtn:hover,
#upvideobtn:hover {
  color: var(--body-background-color);
  background-color: var(--text-color);
}

.hide {
  display: none;
}

button#nextcamera,
button#nextpage7to9,
button#nextpage10to11 {
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

#photolistmyspace {
  max-width: 100%;
  height: auto;
}
/* PAGE 7 LAYOUT===================================== */

.inner-wrapper-7,
#descriptionform {
  display: grid;
  gap: 1rem;
}
button#backToPhotos,
button.blackbutton {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}
#propertydescription {
  min-height: 15.75rem;
}

.textarea-description::placeholder {
  color: var(--tertiary-text-dm);
}

.inner-wrapper-7 .tag-amenity-wrapper:hover {
  color: var(--accent-list-space-dm);
  border-color: var(--accent-list-space-dm);
}

.div-amenities-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

/* PAGE 9 LAYOUT============================ */
#equipmentform {
  margin-top: 1rem;
  display: grid;
  gap: 1.25rem;
}
.div-equipment {
  display: grid;
  gap: 0.5rem;
  padding: 2rem 0;
}

.div-equipment label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.375rem;
}

.wrap-title {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  align-items: center;
  gap: 0.25rem;
  padding: 0 1rem;
}

.wrap-title img {
  height: 2.25rem;
  width: 2.25rem;
  filter: invert(100%) sepia(1%) saturate(3888%) hue-rotate(80deg)
    brightness(126%) contrast(95%);
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.equipment {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.div-equipment {
  border: 1px solid var(--secondary-text-dm);
  border-radius: 0.5rem;
}

.div-equipment fieldset {
  margin: auto;
}

details > summary {
  color: var(--accent-list-space-dm);
  cursor: pointer;
  list-style: none;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.div-equipment textarea {
  width: 100%;
  font-family: sans-serif;
  font-size: var(--base-size);
  padding: var(--padding-3);
  border: none;
  outline: none;
  background-color: var(--body-background-color);
  color: var(--text-color);
  width: 100%;
  resize: vertical;
  min-height: 5rem;
  border-top: 1px solid var(--primary-white);
}

/* PAGE 10 LAYOUT===================================== */
#formpricespace {
  display: grid;
  gap: 1rem;
  text-align: center;
}

#formpricespace label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--text-input-color);
  border-radius: var(--border-radius-base);
  padding: 1rem;
  min-height: 15rem;
}

#datepicker {
  width: 11.5rem;
  height: 3.5rem;
}
/* PAGE 11 LAYOUT =============== */
.dropdown-equipment {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  color: var(--text-color);

  background-color: var(--body-background-color);
  border: 1px solid var(--text-color);
  padding: var(--padding-3);
  border-radius: var(--border-radius-base);

  cursor: pointer;
}

.dropdown-equipment img {
  filter: invert(100%) sepia(1%) saturate(3888%) hue-rotate(80deg)
    brightness(126%) contrast(95%);
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.dropdown-equipment :nth-child(2) {
  margin-right: auto;
}

.dropdown-equipment .checkbox {
  display: inline-block;
  width: fit-content;
}

.dropdown-equipment input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.dropdown-equipment input[type="checkbox"]:checked {
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
}

.dropdown-equipment input {
  margin: 0;
}

.dropdown-equipment.selected {
  border-color: var(--accent-list-space-dm);
}
.dropdown-equipment.selected p {
  color: var(--accent-list-space-dm);
}

.dropdown-equipment.selected img {
  filter: invert(89%) sepia(67%) saturate(619%) hue-rotate(323deg)
    brightness(106%) contrast(101%);
}

#priceform {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.priceform-top-wrapper,
.prices-time-wrapper {
  display: grid;
  gap: 1rem;
}

.bundles-setters {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  padding: 1rem;
  width: 100%;
  color: var(--text-color);
  background-color: var(--body-background-color);
  border: 1px solid var(--text-color);
  padding: var(--padding-2) var(--padding-3);
  border-radius: var(--border-radius-base);
  min-height: 9rem;
}

.moreinfo {
  text-align: center;
}

.moreinfo summary {
  text-align: right;
}

.moreinfo summary p {
  color: var(--accent-list-space-dm);
}

.moreinfo details {
  margin-bottom: 0.25rem;
}

/* PAGE 12 LAYOUT================================== */

.review-content-wrapper,
#reviewform {
  display: grid;
  gap: 1rem;
}

/* CAROUSEL OF IMAGES!!!! */
.wrap-img-page12-container {
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-base);
}

.wrap-img-page12 {
  display: flex;
  width: 100%;
  height: 16.5rem;
}
/* .wrap-img-page12 {
  position: relative;
  border: 1px solid var(--text-color);
  padding: var(--padding-2) var(--padding-3);
  border-radius: var(--border-radius-base);
  margin-bottom: 0.5rem;
  min-height: 16.5rem;
  overflow: hidden;
} */

.wrap-img-page12 img {
  display: block;
  width: 1000px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* .wrap-img-page12 img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
/* .wrap-img-page12 > img {
  transition: all 0.25s ease;
} */
/* .wrap-img-page12 > img:hover {
  transform: scale(1.1);
  cursor: pointer;
} */

.list-space-summary-text-wrapper label {
  color: var(--tertiary-text-dm);
}

.list-space-summary-text-wrapper {
  width: 100%;
  min-height: fit-content;
}

.list-space-summary-text-wrapper .header-textarea {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
  padding: var(--padding-0) var(--padding-2);

  color: var(--tertiary-text-dm);
  font-weight: var(--fw-normal);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-space-summary-text-wrapper .header-textarea img {
  height: 2rem;
  width: 2rem;
}

.list-space-summary-text-wrapper textarea {
  font-family: sans-serif;
  font-size: var(--base-size);
  padding: var(--padding-0) var(--padding-2);
  border: 1px solid var(--text-color);
  border-top: none;
  border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
  outline: none;
  background-color: var(--body-background-color);
  color: var(--text-color);
  width: 100%;

  resize: none;
  min-height: 2.5rem;
  height: auto;
}

#createPropertybtn {
  text-decoration: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

/* QUANTITY LAYOUT ==================== */
[data-quantity] {
  position: relative;
  width: 100%;
  max-width: 11rem;
  padding: 0;
  margin: 0;
  border: 0;
}

[data-quantity] input {
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0;
  background: var(--text-color);
  color: var(--body-background-color);
  text-align: center;
  width: 12rem;
  box-sizing: border-box;
  order: 2;
}

[data-quantity] input[type="number"]::-webkit-inner-spin-button,
[data-quantity] input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

[data-quantity] button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.3rem;
  margin: 0;
  padding: 0;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: var(--text-color)
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
    no-repeat 0 0;
  background-position: center left;
  background-size: 5.1rem 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
}

[data-quantity] button:active {
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

[data-quantity] button:active {
  outline: none;
}

[data-quantity] input:focus {
  outline: none;
}

[data-quantity] button:hover {
  color: var(--tertiary-text-dm);
  background-color: transparent;
}

[data-quantity] button.sub {
  left: 0.5rem;
  order: -1;
}

[data-quantity] button.add {
  right: 0.5rem;
  background-position-x: -2.8rem;
  order: 3;
}

/* PAGE 13 layout ================ */
/* .list-space-wrapper.page13 {
  justify-content: center;
  align-items: center;
} */
.list-space-wrapper.page13 {
  gap: 0;
}

#page13 h2 {
  text-align: center;
  font-size: 3rem;
  margin: auto auto 0;
}
#page13 img {
  display: block;
  width: 15rem;
  height: 15rem;
  margin: 0 auto auto;
}

#page13 .navigation button {
  width: 100%;
  font-size: var(--base-size);
  font-weight: var(--fw-bold);
  border-radius: var(--border-radius-base);
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 0.75rem;
  border: 1px solid var(--primary-white);
  cursor: pointer;
}

#page13 .navigation button#myListings {
  color: var(--primary-black);
  background-color: var(--accent-list-space-dm);
  border: none;
}

#map {
  width: 100%;
  height: 15rem;
}

/* MEDIA QUERIES====================== */
@media screen and (min-width: 800px) {
  .site-header {
    display: block;
  }

  /* DESKTOP LAYOUT */
  /* PAGE 1 - 3 */
  .wrapper-page-1-3 {
    display: flex;
    flex-flow: row wrap;
    max-width: 1100px;
    margin: auto;
  }

  .wrapper-page-1-3 #page1 {
    flex: 1 0 40%;
  }

  .wrapper-page-1-3 #page3 {
    flex: 1 0 55%;
  }

  .wrapper-page-1-3 .progressDesktop {
    flex: 1 0 90%;
    margin: 2rem 1rem;
  }

  /* PAGE 4 - 5 - 6 */
  .wrapper-page-4-5-6 {
    display: grid;
    grid-template-columns: 45% 55%;
    max-width: 1100px;
    margin: auto;
  }

  .wrapper-page-4-5-6 #page4 {
    grid-column: 1 / 2;
    grid-row: 2/3;
  }

  .wrapper-page-4-5-6 #page5,
  .wrapper-page-4-5-6 #page6 {
    grid-column: 2 /3;
    grid-row: 2/3;
  }

  .wrapper-page-4-5-6 .progressDesktop-4-5-6 {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  #map {
    width: 100%;
    max-height: 23rem;
    height: 23rem;
  }

  .page6 .navigation {
    margin-top: 1rem;
  }

  /* PAGE 7 */
  .page7 {
    display: flex;
    flex-flow: row-reverse wrap;
    max-width: 1100px;
    margin: auto;
  }

  .page7 .inner-wrapper-7 {
    flex: 1 0 45%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  .page7 .navigation {
    flex: 1 0 50%;
    align-self: flex-start;
    width: fit-content;
    margin: 0;
    max-width: 50%;
  }

  /* PAGE 9*/
  #equipmentform {
    display: flex;
    flex-flow: row wrap;
  }

  #equipmentform .div-equipment {
    flex: 1 0 30%;
  }

  #page9,
  #page10,
  #page11 {
    max-width: 1100px;
    margin: auto;
  }

  .page9 .navigation {
    margin-left: auto;
    width: 50%;
  }

  /* PAGE 10 */
  #formpricespace {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    margin-top: 10rem;
  }

  #formpricespace label {
    flex: 1 0 45%;
  }

  .page10 .navigation {
    margin-left: auto;
    width: 50%;
    margin-top: 5rem;
  }

  /* PAGE 11*/
  #priceform {
    display: flex;
    flex-flow: row wrap;
  }

  .wrapper-priceform {
    flex: 1 0 65%;
    order: 3;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-content: flex-start;
  }

  .wrapper-priceform label {
    flex: 0 0 45%;
    margin: 0;
    display: flex;
  }

  .prices-time-wrapper {
    order: 2;
    flex: 1 0 30%;
  }

  .moreinfo {
    flex: 1 0 100%;
    order: 1;
  }

  .page11 .navigation {
    margin-left: auto;
    width: 50%;
    margin-top: 5rem;
  }

  /* PAGE 11*/
  .wrapper-bundle {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    align-items: baseline;
    gap: 2rem;
  }

  .wrapper-bundle img {
    grid-column: 1;
    grid-row: 1;
  }

  .wrapper-bundle .wrapper-text-bundle {
    grid-column: 2;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 0.5rem;
  }

  /* PAGE 12*/
  .page12,
  .page13 {
    max-width: 1000px;
    margin: auto;
  }

  #reviewform {
    width: 800px;
    margin: auto;
  }

  .page12 .navigation,
  .page13 .navigation {
    width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row-reverse wrap;
  }

  .page12 .navigation *,
  .page13 .navigation * {
    flex: 1 0 45%;
  }
  .wrap-img-page12 {
    height: 30rem;
  }
}
/**************************************/
/* View Port Size= Small */
/**************************************/
/* @media screen and (max-width:600px) {
  .list-space-wrapper{
    position: relative;
  }
  .page .navigation{
    background-color: var(--primary-black);
    padding: 1rem 0;
    position: fixed;
    bottom: 0rem;
    left: 1rem;
    right: 1rem;
    z-index: 10;
  }
  .margin-bottom
  {
    z-index: 1;
    margin-bottom: 9rem;
  }
} */
