/* Parent Container ======= */
.login-dialog-wrapper {
  display: grid;
  gap: 2rem;

  max-width: 500px;
  margin: auto;
  padding: 2rem 0;
}
/* Header ================= */
header {
  max-width: 600px;
  margin: auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav a {
  font-size: 2rem;
  color: var(--primary-white);

  transition: all 0.25s ease-in-out;
}

header nav a:hover {
  transform: translateY(-2px);
}

.logo-site {
  padding: 4rem;
}

.login-dialog-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  line-height: 1.25;
}

.login-dialog-header h1 {
  text-transform: uppercase;
}

/* Login Form ============= */
#login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: all 0.25s ease;
  height: 0;
  overflow: hidden;

  margin-bottom: var(--margin-4);
}

#login-form.hideLogin {
  height: 15rem;
}

#login-email,
#login-password {
  padding: 1rem;
}

.input-field > .input-label {
  color: var(--text-input-color);
  display: inline-block;
  margin-bottom: var(--margin-1);
}

.login-alternative-wrapper {
  display: grid;
  gap: 0.375rem;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.button-wrapper > .btn-login {
  padding: var(--padding-4);
  cursor: pointer;
  background-color: var(--accent-explore-space-dm);
  margin-top: 1rem;
  transition: all 0.25s ease-in-out;
}

button.google,
button.email {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  color: var(--primary-black);
  background-color: var(--primary-white);
  padding: var(--padding-4);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.google .icon-wrp,
.email .icon-wrp {
  justify-self: flex-end;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.google .txt-wrp,
.email .txt-wrp {
  justify-self: flex-start;
}

.google .icon-wrp {
  background: no-repeat center/ contain
    url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
}

.email .icon-wrp {
  background: no-repeat center/ contain
    url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/mail.svg");
  filter: invert(32%) sepia(100%) saturate(7483%) hue-rotate(334deg)
    brightness(86%) contrast(92%);
}

.google:hover,
.email:hover,
.btn-login:hover,
.btn-logout:hover {
  transform: translateY(-2px);
}

.hidden {
  display: none;
}

/* Divider */
.divider {
  width: 40%;
  height: 1px;
  background-color: var(--text-input-color);
  margin: auto;
}
