/* Parent Container ======= */
.login-dialog-wrapper {
  display: grid;
  gap: 2rem;

  max-width: 500px;
  margin: auto;
  padding: 2rem 0;
}
/* Header ================= */
header {
  max-width: 600px;
  margin: auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav a {
  font-size: 2rem;
  color: var(--primary-white);

  transition: all 0.25s ease-in-out;
}

header nav a:hover {
  transform: translateY(-2px);
}

.logo-site {
  padding: 2rem;
}

.login-dialog-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  line-height: 1.25;
}

.login-dialog-header h1 {
  text-transform: uppercase;
}

/* Login Form ============= */
#login-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  margin-bottom: var(--margin-4);
}

.input-field > .input-label {
  display: inline-block;
  margin-bottom: var(--margin-1);
}

.login-alternative-wrapper {
  display: grid;
  gap: 0.375rem;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.button-wrapper > .btn-login {
  padding: var(--padding-2) 4rem;
  cursor: pointer;
  background-color: var(--accent-explore-space-dm);
  /* max-width: fit-content; */

  transition: all 0.25s ease-in-out;
}

.button-wrapper > .btn-logout {
  padding: var(--padding-2) 4rem;
  cursor: pointer;
  color: var(--accent-explore-space-dm);
  background-color: var(--primary-black);
  border: 1px solid var(--accent-explore-space-dm);
  /* max-width: fit-content; */

  transition: all 0.25s ease-in-out;
}

button.google,
button.email {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  color: var(--primary-black);
  background-color: var(--primary-white);
  padding: var(--padding-2);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.google .icon-wrp,
.email .icon-wrp {
  justify-self: flex-end;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.google .txt-wrp,
.email .txt-wrp {
  justify-self: flex-start;
}

.google .icon-wrp {
  background: no-repeat center/ contain
    url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
}

.email .icon-wrp {
  background: no-repeat center/ contain
    url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/mail.svg");
  filter: invert(32%) sepia(100%) saturate(7483%) hue-rotate(334deg)
    brightness(86%) contrast(92%);
}

.google:hover,
.email:hover,
.btn-login:hover,
.btn-logout:hover {
  transform: translateY(-2px);
}

.hidden {
  display: none;
}
