*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:wght@400;700&display=swap");

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text-input-color);
}

body {
  font-family: "Fira Sans", sans-serif;
}

.profile-wrapper {
  padding: 1rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 6.5rem;

  color: var(--text-input-color);
  min-height: 75vh;
  margin-top: 5rem;
}

/* Nav Bar */
.profile-nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.profile-nav button,
.bottom-main button {
  background: none;
  appearance: none;
  border: none;

  color: var(--primary-white);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Top Content User Name */
.top-main h1 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-white);

  line-height: 1.5;
}

.top-main p {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Middle Content */
.middle-main ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.75rem;
}

.middle-main ul li {
  font-size: 1.25rem;
}

/* Bottom Main */
.bottom-main {
  margin-top: auto;
}
.button-main button {
  font-weight: 700;
  cursor: pointer;
}
