*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:wght@400;700&display=swap");

a {
  color: var(--text-input-color);
}

body {
  font-family: "Fira Sans", sans-serif;
}

/* .main-index {
  position: relative;
} */

.profile-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem 1rem 2rem 2rem;
  z-index: 100;
  background-color: #101010;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: 0.25s all ease-in-out;
  transform: translateX(100%);
}

.hideMenu {
  transform: translateX(0);
}

.profile-main {
  display: flex;
  flex-flow: column nowrap;
  gap: 6.5rem;

  color: #9e9e9e;
  margin-top: 5rem;
}

/* Nav Bar */
.profile-nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.profile-nav button,
.bottom-main button,
.mobile-nav button {
  background: none;
  appearance: none;
  border: none;

  color: #f8f8f8;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-nav button {
  font-size: 1.75rem;
}

/* Top Content User Name */
.top-main h1 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  color: #f8f8f8;

  line-height: 1.5;
  text-transform: none;
}

.top-main p {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Middle Content */
.middle-main ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.75rem;
}

.middle-main ul li {
  font-size: 1.25rem;
}

/* Bottom Main */
.bottom-main {
  margin-top: auto;
}
.button-main button {
  font-weight: 700;
  cursor: pointer;
}

.profile-main,
.bottom-main {
  padding: 1rem;
}

/* Desktop Menu Popup */
.desktop-profile {
  position: absolute;
  padding: 1rem;
  background-color: #101010;
  border: 1px solid #f8f8f8;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  z-index: 1000;
  right: 1.5rem;
  top: 4.5rem;
  transform: scale(0);
  transition: all 0.25s ease;
  transform-origin: top right;
}

.scaleMenu {
  transform: scale(1);
}
.desktop-profile ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.desktop-profile li {
  font-size: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.desktop-profile button {
  color: #f8f8f8;
  background: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.desktop-profile img {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(98%) saturate(4%) hue-rotate(231deg)
    brightness(120%) contrast(95%);
}
