*::-webkit-scrollbar {
  display: none;
}

/* Slider Styles start ==================*/

.slider {
  width: 100%;
  /* max-width: 800px; */
  /* height: 350px; */
  position: relative;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  overflow: scroll hidden;
  /* border-radius: 16px; */

  gap: 1rem;

  display: flex;
  flex-flow: row nowrap;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  width: 100%;
  /* max-width: 800px; */
  max-height: 256px;
  /* position: absolute; */
  transition: all 0.5s;

  border-radius: 1rem;

  /* object-fit: cover; */
  overflow: hidden;

  flex: 1 0 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;

}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

/* Slider Styles End =================== */

main ul {
  padding: 0;
  list-style-type: none;
}

.property-name {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.property-info {
  margin: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.property-info a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

.property-info  a.selected-tab {
    color: var(--explore-text-color);
}

/* state styles */

.state-wrapper {
  min-height: calc(100vh - var(--header-height) - calc(var(--top-elements-padding) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
}


.property-details > h2:first-of-type {
  font-size: var(--h2-font-size);
}

.property-details h2 {
  font-size: var(--tagline-font-size);
  margin-bottom: 1rem;
}

.property-customize-tab,
.property-details-tab,
.property-showcases-tab {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-content: center;
}

.property-bundles {
  max-height: 15rem;
}

.bundle-details {
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: var(--img-border-radius);
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 1fr 1fr; */
}


.bundle-details-props {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 1rem;
}

.bundle-title {
  font-size: 1.25rem;
}

.bundle-details input[type="button"] {
  background-color: var(--explore-text-color);
  border: 1px solid var(--explore-text-color);
  padding: .5rem;
  border-radius: var(--img-border-radius);
  color: var(--primary-black);
  font-weight: 700;
  font-size: 1rem;
}

.bundle-details img {
  min-width: 6rem;
  max-height: 8rem;

  align-self: center;
}

/*  Dates slection */

#datepicker-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem
}

#datepicker {
  background-color: var(--body-background-color);
  border: 1px solid var(--text-color);
  border-radius: var(--img-border-radius);
  padding: 1rem;
  color: var(--text-color);
  font-size: 1rem;
}


/* TODO fix this */

.property-equipments input {
  display: none !important;
}

.property-equipments ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.property-equipments li {
  border: 1px solid var(--text-color);
  border-radius: var(--img-border-radius);
  cursor: pointer;
}

.property-equipments li:has(input:checked) {
  border: 1px solid var(--explore-text-color);
  color: var(--explore-text-color);
  cursor: pointer;
}

.property-equipments label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.property-equipments label span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  /* justify-content: space-between; */
  padding: 1rem;
  cursor: pointer;
}

.property-equipments label span img {
  height: 2rem;
  width: 2rem;

  filter: var(--filter-white-svg);
}

.property-equipments li:has(input:checked) img {
  filter: var(--filter-purple-svg);
}

/* TODO fix this  */

/* .property-equipments {
  margin-top: 3rem;
} */


/* Property details */


.property-details-tab ul {
  list-style-type: disc;
  padding-left: 2rem;
}


/* Showcases styles */

.property-showcases-tab img {
  border-radius: var(--img-border-radius);
}

.property-showcases-tab ul {
  display: grid;
  gap: 1rem;
}


.property-showcases-tab .showcase-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.showcase-title {
  font-size: var(--tagline-font-size);
}

/* Price Details */

.property-booking-details > div {
  border: 1px solid var(--text-color);
  border-radius: var(--img-border-radius);
  padding: 1rem;
}

.property-price-breakdown {

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.price-detail-title {
  font-size: var(--tagline-font-size);
}

.price-detail-wrapper ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.book-space input {
  margin-top: 2rem;
  width: 100%;
  padding: .5rem;
  border-radius: var(--img-border-radius);
  background-color: var(--explore-text-color);
  color: var(--primary-black);
  font-size: 1rem;
  font-weight: 700;

  border: none;
}

.book-space input:disabled,
.book-space input[disabled] {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--text-input-color);
  cursor: unset;
  /* opacity: .8; */
}

/* 
section {
  padding: 2rem 0;
}
.property-name {
    margin-bottom: 1rem;
}

.property-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.property-info a {
    text-decoration: none;
    color: black;
}


.property-customize-tab, .property-details-tab, .property-showcases-tab {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.property-customize-tab h2, .property-details-tab h2, .property-showcases-tab h2 {
  margin: 1rem 0;
}

.property-customize-tab > div, .property-details-tab div, .property-showcases-tab div {
  padding: 1rem;
  border: 1px black solid;
}

.property-customize-tab ul, .property-details-tab ul, .property-showcases-tab ul{
  list-style-type: none;
  padding: 0;
}

.property-customize-tab .bundle {
  border: 1px black solid;
  margin: 1rem 0;
  padding: 1rem;
}

.property-booking-details {
  text-align: center;
  padding: 1rem;
}

.property-booking-details ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 1rem;
} */

/* MEDIA QUERIES ======================================= */
@media screen and (min-width: 900px) {
  .selected-space-images .img-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
}

  .selected-space-images .img-wrapper-1 {
      grid-column: 1/3;
  }

  .property-name, #property-images-carousel {
    grid-column: span 2;
  }

  .property-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }


  .property-equipments ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .property-info {
    grid-column: span 2;
  }

  .property-booking-details {
    height: fit-content;
  }

  .property-customize-tab {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 900px) {
  #property-images-carousel .slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;

    gap: 1rem;

    margin: 0 auto;    
  }

  .slider .slide {
    max-height: unset;
  }
  
  .slider .slide:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
    
    max-height: unset;
  }

  .slide img {
    height: 100%;
  }

  /* .slider .slide:nth-child(2) {
    grid-column: 2/3;

  }

  .slider .slide:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;

  }
  .slider .slide:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;

  } */

  .property-info {
    justify-content: space-evenly;
  }

  /* SHWOCASES TAB =====================================*/
  .property-showcases-tab  #showcase-list {
    display: flex;
    flex-flow: row nowrap;

    overflow: scroll hidden;
  }

  .property-showcases-tab  #showcase-list li {
    flex: 1 0 100%;
  }
}
